<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/ico" href="favicon.ico">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar nav-underline">
        <div class="container text-bg-secondary p-3" style="max-width: 2560px">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">ARCADIA</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Page D'accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services/">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/habitats/" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Les Habitats
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/habitats/">Tout les Habitats</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                                {%if habitats is defined%}
                                    {% for habitat in habitats%}
                                        <li><a class="dropdown-item" href="/habitats/#{{ habitat.nom }}">{{ habitat.nom }}</a></li>
                                    {% endfor %}
                                {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>
                </ul>
            </div>
            {% block authenticate %}
            <div class="container-fluid-inline">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                  <span class="bi bi-person"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu de Connexion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  {% if app.user is null %}
                  <div class="offcanvas-body">
                    <form id="login-form" class="d-flex-inline mt-3" action="{{ path('app_login_auth') }}" method="post">
                        <label for="username" class="form-label">Adresse Mail:</label>
                        <input id="username" type="email" name="_username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="50" required class="form-control me-2">
                        <label for="password" class="form-label">Mot de passe:</label>
                        <input id="password" type="password" name="_password" autocomplete="current-password" maxlength="50" required aria-invalid="true" class="form-control me-2">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <br>
                        <button type="submit" class="btn btn-primary mb-2">Se Connecter</button>
                    </form>
                  </div>
                  {% elseif is_granted('ROLE_ADMIN') %}
                  <div class="offcanvas-body">
                    <form class="d-flex-inline mt-3" action="{{ path('app_admin') }}">
                        <p>{{ app.user.username }}</p>
                        <button type="submit" class="btn btn-primary mb-2">Se Rendre sur la page d'administration</button>
                    </form>
                    <form id="logout-form" class="d-flex-inline mt-3" action="{{ path('app_logout') }}" method="post">
                        <button type="submit" class="btn btn-primary mb-2">Se Déconnecter</button>
                    </form>
                  </div>
                  {% elseif is_granted('ROLE_EMPLOYE') %}
                  <div class="offcanvas-body">
                    <form class="d-flex-inline mt-3" action="{{ path('app_employe_admin') }}">
                        <p>{{ app.user.username }}</p>
                        <button type="submit" class="btn btn-primary mb-2">Se Rendre sur la page d'administration</button>
                    </form>
                    <form id="logout-form" class="d-flex-inline mt-3" action="{{ path('app_logout') }}" method="post">
                        <button type="submit" class="btn btn-primary mb-2">Se Déconnecter</button>
                    </form>
                  </div>
                  {% elseif is_granted('ROLE_VETERINAIRE') %}
                  <div class="offcanvas-body">
                    <form class="d-flex-inline mt-3" action="{{ path('app_veterinaire_admin') }}">
                        <p>{{ app.user.username }}</p>
                        <button type="submit" class="btn btn-primary mb-2">Se Rendre sur la page d'administration</button>
                    </form>
                    <form id="logout-form" class="d-flex-inline mt-3" action="{{ path('app_logout') }}" method="post">
                        <button type="submit" class="btn btn-primary mb-2">Se Déconnecter</button>
                    </form>
                  </div>
                  {% else %}
                  <div class="offcanvas-body">
                    <form id="logout-form" class="d-flex-inline mt-3" action="{{ path('app_logout') }}" method="post">
                        <p>{{ app.user.username }}</p>
                        <button type="submit" class="btn btn-primary mb-2">Se Déconnecter</button>
                    </form>
                  </div>
                  {% endif %}
                </div>
            </div>
            {% endblock %}
        </div>
    </nav>

    {% block content %}
    <div class="container">
        <figure>
            <img
                src="#"
                alt="Image Introuvable"
                width="400"
                height="341" />

            <figcaption>
                Arcadia est un zoo situé en France près de la forêt de Brocéliande, en bretagne depuis 1960.
                Ils possèdent tout un panel d’animaux, réparti par habitat (savane, jungle, marais) et font
                extrêmement attention à leurs santés. Chaque jour, plusieurs vétérinaires viennent afin
                d’effectuer les contrôles sur chaque animal avant l’ouverture du zoo afin de s’assurer que tout
                se passe bien, de même, toute la nourriture donnée est calculée afin d’avoir le bon grammage
                (le bon grammage est précisé dans le rapport du vétérinaire).
                Le zoo, se porte très bien financièrement, les animaux sont heureux.
            </figcaption>
        </figure>
        <div class="row">
            <div class="col">
                <h3>Nos Services</h3>
                <ul>
                    {% for service in services %}
                        <li>{{ service.nom }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h3>Les Habitats</h3>
                <ul>
                    {% for habitat in habitats %}
                        <li>{{ habitat.nom }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h3>Les Animaux</h3>
                <ul>
                    {% for animal in animals %}
                        <li>{{ animal.prenom }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <h3>Les Différents Avis Sur Notre Zoo :</h3>
        {% for avi in avis %}
            <div>
                <p>
                    {{ avi.pseudo }} :
                    <br>
                    {{ avi.commentaire }}
                </p>
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <h3>Vous aussi, donnez nous votre avis !</h3>
        <form action={{ path('app_home_submitAvis') }} method="post">
        <div class="mb-3">
            <label for="formControlInput1" class="form-label">Pseudo</label>
            <input type="text" class="form-control" id="formControlInput1" placeholder="John Doe" required name="_pseudo" maxlength="50">
        </div>
        <div class="mb-3">
            <label for="formControlTextarea1" class="form-label">Votre Avis</label>
            <textarea class="form-control" id="formControlTextarea1" rows="3" placeholder="Le Zoo est superbe" required name="_avis" maxlength="200"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Envoyer votre Avis</button>
        </form>
    </div>
    {% endblock %}

    <nav class="navbar">
        <div class="container bg-body-tertiary" style="max-width: 2560px">
          <a class="navbar-brand" href="#">Retour en Haut de page</a>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% block importmap %}
    {% endblock %}
</body>
</html>